<nav class="navbar navbar-expand-lg navbar-inverse bg-primary mb-5">
    <a class="navbar-brand" [routerLink]="['/']">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/offres']">Gestion d'offres</a>
        </li>
      </ul>
    </div>
    
    <form class="form-inline my-2 mr-lg-4">
      <input class="form-control mr-sm-2" type="search" placeholder="chercher par employé" ng-model="searchText" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">chercher</button>
    </form>
  </nav>