<h2 class="font-weight-bold" style="margin-left: 5%;">Chercher les offres par :</h2>
<hr>

<div class="container col-lg-10"  style="width:400px;margin-left:15%;">
    <div class="jumbotron col-lg-12 border" style="border-radius: 5%;">

    <form [formGroup]="searchForm" (submit)="searchBy()" class="form-horizontal">
        <label class="sr-only" for="Ville de départ" class="col-lg-6 control-label font-weight-bold">Ville de départ</label>
        <div class="input-group mb-2 mr-sm-2 col-lg-8">
          <input type="text" class="form-control" formControlName="villeDep" placeholder="Ville départ">
        </div>
        <label class="sr-only" for="Ville d'arrivée" class="col-lg-6 control-label font-weight-bold">Ville d'arrivée</label>
        <div class="input-group mb-2 mr-sm-2 col-lg-8">
          <input type="text" class="form-control" formControlName="villeArv" placeholder="Ville arrivée">
        </div>
    
        <label class="sr-only" for="Date" class="col-lg-6 control-label font-weight-bold">Date</label>
        <div class="input-group mb-2 mr-sm-2 col-lg-8">
            <input type="date" class="form-control" formControlName="date">
        </div>
        <br>
    <button type="submit" class="btn btn-success mb-2" style="margin-left: 5%;">Chercher</button>
    </form>
    </div>
</div>

<br>

<div class="container border" style="border-radius:2% ;background-color: white;">
  <br>
  <h3>Liste des offres</h3>
  <table class="table table-hover">
    <thead>
      <tr style="background-color: #408816; color:white;">
        <th scope="col">Proposé par</th>
        <th scope="col">Ville de départ</th>
        <th scope="col">Ville d'arrivée</th>
        <th scope="col">Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offre of offres">
        <th scope="row">{{offre.proposerpar}}</th>
        <td>{{offre.villeDep}}</td>
        <td>{{offre.villeArv}}</td>
        <td>{{offre.date}}</td>
        <th>
          <a style="color: #408816;" (click)= editOffre(offre)>modifier</a>
          <br>
          <a  style="color: #408816;" (click)= deleteOffre(offre)>supprimer</a>
        </th>
      </tr>
    </tbody>
  </table>
  <br>
  </div>