<h3>Liste des offres</h3>
<table class="table table-hover">
  <thead>
    <tr style="background-color: rgb(4, 113, 153); color:white;">
      <th scope="col">Proposé par</th>
      <th scope="col">Ville de départ</th>
      <th scope="col">Ville d'arrivée</th>
      <th scope="col">Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!--<tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>-->
    <tr *ngFor="let offre of offres">
      <th scope="row">{{offre.proposerpar}}</th>
      <td>{{offre.villeDep}}</td>
      <td>{{offre.villeArv}}</td>
      <td>{{offre.date}}</td>
      <th>
          <a>modifier</a>
          <br>
          <a>supprimer</a>
        <!--<a (click)=editOffre(offre)>edit</a>-->
        <br>
        <!--<a (click)=deleteOffre(offre)>delete</a>-->
      </th>
    </tr>
  </tbody>
</table>