<div class="mt-4">
    <h3>Modifier l'offre séléctionnée:</h3>
    
    <form class="form-inline mb-4">
    <!--<form [formGroup]="offreForm" (submit)="updateOffre()" class="form-inline mb-4">-->
        <label class="sr-only" for="Proposé par">Proposé par</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" formControlName="proposerpar" placeholder="Nom Prénom">
        </div>
    
        <label class="sr-only" for="Ville de départ">Ville de départ</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" formControlName="villeDep" placeholder="Ville départ">
        </div>
    
        <label class="sr-only" for="Ville d'arrivée">Ville d'arrivée</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" formControlName="villeArv" placeholder="Ville arrivée">
        </div>
    
        <label class="sr-only" for="Date">Date</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="date" class="form-control" formControlName="date">
        </div>
  
      <button type="submit" class="btn btn-primary mb-2">Modifier l'offre</button>
  
    </form>
  </div>